In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_ind_bowlers = pd.read_csv('/content/drive/MyDrive/Cricketdata/IND_Bowlers.csv')
df_ind_batsmen = pd.read_csv('/content/drive/MyDrive/Cricketdata/IND_Batsmen.csv')
df_aus_bowlers = pd.read_csv('/content/drive/MyDrive/Cricketdata/AUS_Bowlers.csv')
df_aus_batsmen = pd.read_csv('/content/drive/MyDrive/Cricketdata/AUS_Batsmen.csv')

In [ ]:
df_ind_bowlers.info()
df_ind_batsmen.info()
df_aus_bowlers.info()
df_aus_batsmen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  35 non-null     object
 1   Mat     35 non-null     int64
 2   Inns    35 non-null     int64
 3   Overs   35 non-null     float64
 4   Mdns    35 non-null     int64
 5   Runs    35 non-null     int64
 6   Wkts    35 non-null     int64
 7   BBI     35 non-null     object
 8   Ave     35 non-null     float64
 9   Econ    35 non-null     float64
 10  SR      35 non-null     float64
 11  4       35 non-null     int64
 12  5       35 non-null     int64
 13  Season  35 non-null     object
dtypes: float64(4), int64(7), object(3)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  92 non-null     object
 1   Mat     92 non-null     int64
 2   Inns    92 non-null     int64
 3   NO      92 non-null     int64
 4   Runs    92 non-null     int64
 5   HS      92 non-null     object
 6   Ave     92 non-null     float64
 7   BF      92 non-null     int64
 8   SR      92 non-null     float64
 9   100     92 non-null     int64
 10  50      92 non-null     int64
 11  0       92 non-null     int64
 12  4s      92 non-null     int64
 13  6s      92 non-null     int64
 14  Season  92 non-null     object
dtypes: float64(2), int64(10), object(3)
memory usage: 10.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  59 non-null     object
 1   Mat     59 non-null     int64
 2   Inns    59 non-null     int64
 3   Overs   59 non-null     float64
 4   Mdns    59 non-null     int64
 5   Runs    59 non-null     int64
 6   Wkts    59 non-null     int64
 7   BBI     59 non-null     object
 8   Ave     59 non-null     float64
 9   Econ    59 non-null     float64
 10  SR      59 non-null     float64
 11  4       59 non-null     int64
 12  5       59 non-null     int64
 13  Season  59 non-null     object
dtypes: float64(4), int64(7), object(3)
memory usage: 6.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  93 non-null     object
 1   Mat     93 non-null     int64
 2   Inns    93 non-null     int64
 3   NO      93 non-null     int64
 4   Runs    93 non-null     int64
 5   HS      93 non-null     object
 6   Ave     93 non-null     float64
 7   BF      93 non-null     int64
 8   SR      93 non-null     float64
 9   100     93 non-null     int64
 10  50      93 non-null     int64
 11  0       93 non-null     int64
 12  4s      93 non-null     int64
 13  6s      93 non-null     int64
 14  Season  93 non-null     object
dtypes: float64(2), int64(10), object(3)
memory usage: 11.0+ KB

In [ ]:
df_ind_bowlers
df_aus_bowlers

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5,Season
0,A Zampa,15,15,138.0,4,813,33,4/8,24.63,5.89,25.0,4,0,2023/24
1,A Zampa,11,11,108.4,2,579,18,4/43,32.16,5.32,36.2,1,0,2018/19
2,A Zampa,6,6,43.3,2,219,15,4/31,14.60,5.03,17.4,3,0,2022/23
3,A Zampa,6,6,50.5,0,236,13,5/35,18.15,4.64,23.4,0,1,2022
4,A Zampa,7,7,68.0,0,338,10,3/50,33.80,4.97,40.8,0,0,2019/20
5,A Zampa,3,3,30.0,0,142,10,4/55,14.20,4.73,18.0,1,0,2020
6,A Zampa,3,3,30.0,0,161,7,4/54,23.00,5.36,25.7,1,0,2020/21
7,A Zampa,3,3,29.0,0,159,6,4/38,26.50,5.48,29.0,1,0,2021/22
8,A Zampa,4,4,33.0,0,236,5,3/60,47.20,7.15,39.6,0,0,2019
9,A Zampa,3,3,22.2,3,111,5,2/29,22.20,4.97,26.8,0,0,2021
10,AC Agar,3,3,18.0,0,80,4,2/49,20.00,4.44,27.0,0,0,2022
11,AC Agar,4,4,37.0,1,205,2,1/38,102.50,5.54,111.0,0,0,2019/20
12,AC Agar,1,1,10.0,0,44,2,2/44,22.00,4.40,30.0,0,0,2020/21
13,AC Agar,1,1,10.0,1,31,2,2/31,15.50,3.10,30.0,0,0,2021
14,AC Agar,3,3,27.0,0,144,2,2/41,72.00,5.33,81.0,0,0,2022/23
15,AC Agar,1,1,9.0,0,40,1,1/40,40.00,4.44,54.0,0,0,2023/24
16,C Green,8,8,41.0,0,185,11,5/33,16.81,4.51,22.3,0,1,2022
17,C Green,8,6,39.4,0,279,5,2/103,55.80,7.03,47.6,0,0,2023/24
18,GJ Maxwell,11,9,66.0,2,324,9,4/52,36.00,4.90,44.0,1,0,2022
19,GJ Maxwell,8,7,62.3,1,300,9,4/40,33.33,4.80,41.6,1,0,2023/24
20,GJ Maxwell,13,12,71.0,1,386,5,1/16,77.20,5.43,85.2,0,0,2018/19
21,GJ Maxwell,3,3,16.4,0,116,1,1/34,116.00,6.96,100.0,0,0,2020/21
22,JR Hazlewood,14,14,122.1,7,675,20,3/38,33.75,5.52,36.6,0,0,2023/24
23,JR Hazlewood,11,11,95.3,12,379,12,3/30,31.58,3.96,47.7,0,0,2022
24,JR Hazlewood,4,4,39.3,2,192,6,2/37,32.00,4.86,39.5,0,0,2019/20
25,JR Hazlewood,3,3,29.0,1,180,6,3/55,30.00,6.20,29.0,0,0,2020/21
26,JR Hazlewood,2,2,14.0,2,29,5,3/11,5.80,2.07,16.8,0,0,2021
27,JR Hazlewood,3,3,30.0,5,121,4,3/26,30.25,4.03,45.0,0,0,2020
28,JR Hazlewood,2,2,14.0,1,54,3,2/33,18.00,3.85,28.0,0,0,2022/23
29,MA Starc,10,10,92.2,5,502,27,5/26,18.59,5.43,20.5,2,2,2019
30,MA Starc,5,5,45.5,2,261,13,5/53,20.07,5.69,21.1,1,1,2022/23
31,MA Starc,3,3,27.1,2,117,11,5/48,10.63,4.30,14.8,0,1,2021
32,MA Starc,6,6,50.2,4,199,11,3/24,18.09,3.95,27.4,0,0,2022
33,MA Starc,9,9,74.0,1,492,11,2/43,44.72,6.64,40.3,0,0,2023/24
34,MA Starc,6,6,55.3,0,345,6,3/56,57.50,6.21,55.5,0,0,2019/20
35,MA Starc,3,3,30.0,1,159,5,3/74,31.80,5.30,36.0,0,0,2020
36,MA Starc,2,2,18.0,0,147,1,1/65,147.00,8.16,108.0,0,0,2020/21
37,MP Stoinis,12,12,66.4,0,421,8,2/20,52.62,6.31,50.0,0,0,2018/19
38,MP Stoinis,10,10,50.0,1,342,8,2/20,42.75,6.84,37.5,0,0,2023/24
39,MP Stoinis,8,8,40.0,1,244,7,2/37,34.85,6.10,34.2,0,0,2019
40,MP Stoinis,6,4,24.1,1,122,4,2/27,30.50,5.04,36.2,0,0,2022/23
41,MP Stoinis,6,5,16.0,0,57,2,1/6,28.50,3.56,48.0,0,0,2022
42,MP Stoinis,3,2,6.0,0,32,1,1/23,32.00,5.33,36.0,0,0,2021/22
43,PJ Cummins,6,6,55.2,5,243,17,5/70,14.29,4.39,19.5,1,1,2018/19
44,PJ Cummins,10,10,86.1,6,427,14,3/33,30.50,4.95,36.9,0,0,2019
45,PJ Cummins,11,11,87.5,1,533,12,2/32,44.41,6.06,43.9,0,0,2023/24
46,PJ Cummins,6,6,55.0,5,290,9,3/25,32.22,5.27,36.6,0,0,2019/20
47,PJ Cummins,4,4,31.5,3,142,8,4/35,17.75,4.46,23.8,1,0,2022
48,PJ Cummins,2,2,16.0,2,87,5,3/62,17.40,5.43,19.2,0,0,2022/23
49,PJ Cummins,3,3,30.0,3,183,3,1/53,61.00,6.10,60.0,0,0,2020
50,PJ Cummins,2,2,18.0,0,119,3,3/67,39.66,6.61,36.0,0,0,2020/21
51,SA Abbott,7,7,59.3,2,383,9,2/50,42.55,6.43,39.6,0,0,2023/24
52,SA Abbott,4,4,33.0,0,149,6,3/23,24.83,4.51,33.0,0,0,2022/23
53,SA Abbott,2,2,15.0,7,32,4,2/1,8.00,2.13,22.5,0,0,2022
54,SA Abbott,1,1,10.0,0,84,1,1/84,84.00,8.40,60.0,0,0,2020/21
55,SA Abbott,3,3,19.0,0,125,1,1/36,125.00,6.57,114.0,0,0,2021/22
56,SPD Smith,10,3,4.0,0,32,1,1/6,32.00,8.00,24.0,0,0,2019
57,TM Head,3,3,12.0,0,72,2,2/35,36.00,6.00,36.0,0,0,2021/22
58,TM Head,8,5,28.0,0,156,2,2/39,78.00,5.57,84.0,0,0,2023/24

In [ ]:
df_ind_batsmen
df_aus_batsmen

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Season
0,A Zampa,15,10,3,69,29,9.85,85,81.17,0,0,1,8,0,2023/24
1,A Zampa,3,2,1,48,36,48.00,69,69.56,0,0,0,6,0,2021
2,A Zampa,6,3,2,30,16,30.00,40,75.00,0,0,0,3,0,2022
3,A Zampa,7,4,2,17,7*,8.50,20,85.00,0,0,0,2,0,2019/20
4,A Zampa,11,2,0,10,8,5.00,16,62.50,0,0,0,0,0,2018/19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,TH David,4,4,0,45,35,11.25,53,84.90,0,0,0,3,3,2023/24
89,TM Head,6,6,1,329,152,65.80,286,115.03,1,2,0,44,7,2022/23
90,TM Head,8,8,1,282,109,40.28,189,149.20,1,1,1,35,13,2023/24
91,TM Head,3,3,0,190,101,63.33,143,132.86,1,1,1,18,8,2021/22
92,TM Head,3,3,1,120,70*,60.00,132,90.90,0,1,0,8,3,2022

In [ ]:
# Calculate Batsmen and Bowlers Rating for Indian players and Australian players based on key metrics using formula from a conference paper
# formula for batsman  = 0.4262*Ave + 0.2566*Inns + 0.1510*SR + 0.0787*Centuries + 0.0556*Fifties - 0.0328*Zeros
# formula for bowler = 0.3269*Overs + 0.2846*Inns + 0.1877*SR + 0.1210*Ave

df_ind_batsmen['Batsmen_Rating'] = 0.4262 * df_ind_batsmen['Ave'] + 0.2566 * df_ind_batsmen['Inns'] + 0.1510 * df_ind_batsmen['SR'] + 0.0787 * df_ind_batsmen['100'] + 0.0556 * df_ind_batsmen['50'] - 0.0328 * df_ind_batsmen['0']
df_ind_bowlers['Bowlers_Rating'] = 0.3269 * df_ind_bowlers['Overs'] + 0.2846 * df_ind_bowlers['Inns'] +  0.1877 * df_ind_bowlers['SR'] + 0.1210 * df_ind_bowlers['Ave']
df_aus_batsmen['Batsmen_Rating'] = 0.4262 * df_aus_batsmen['Ave'] + 0.2566 * df_aus_batsmen['Inns'] + 0.1510 * df_aus_batsmen['SR'] + 0.0787 * df_aus_batsmen['100'] + 0.0556 * df_aus_batsmen['50'] - 0.0328 * df_aus_batsmen['0']
df_aus_bowlers['Bowlers_Rating'] = 0.3269 * df_aus_bowlers['Overs'] + 0.2846 * df_aus_bowlers['Inns'] +  0.1877 * df_aus_bowlers['SR'] + 0.1210 * df_aus_bowlers['Ave']

In [ ]:
# Accumulate ratings for players with multiple entries
df_ind_batsmen_agg = df_ind_batsmen.groupby('Player')['Batsmen_Rating'].sum().reset_index()
df_ind_bowlers_agg = df_ind_bowlers.groupby('Player')['Bowlers_Rating'].sum().reset_index()
df_aus_batsmen_agg = df_aus_batsmen.groupby('Player')['Batsmen_Rating'].sum().reset_index()
df_aus_bowlers_agg = df_aus_bowlers.groupby('Player')['Bowlers_Rating'].sum().reset_index()

In [ ]:
# Select top 6 batsmen and top 5 bowlers for playing 11
playing_eleven_ind_batsmen = df_ind_batsmen_agg.nlargest(6, 'Batsmen_Rating')
playing_eleven_ind_bowlers = df_ind_bowlers_agg.nlargest(5, 'Bowlers_Rating')
playing_eleven_aus_batsmen = df_aus_batsmen_agg.nlargest(6, 'Batsmen_Rating')
playing_eleven_aus_bowlers = df_aus_bowlers_agg.nlargest(5, 'Bowlers_Rating')

In [ ]:
# Display the selected playing elevens
print("Playing Eleven IND - Batsmen:")
print(playing_eleven_ind_batsmen[['Player', 'Batsmen_Rating']])

print("\nPlaying Eleven IND - Bowlers:")
print(playing_eleven_ind_bowlers[['Player', 'Bowlers_Rating']])

Playing Eleven IND - Batsmen:
          Player  Batsmen_Rating
13       V Kohli      346.140542
8      RG Sharma      345.557508
2       KL Rahul      318.183488
11       SS Iyer      294.160456
7      RA Jadeja      266.773350
12  Shubman Gill      234.375654

Playing Eleven IND - Bowlers:
           Player  Bowlers_Rating
1   Kuldeep Yadav       356.85631
2  Mohammed Shami       199.96244
5       SN Thakur       198.66514
0       JJ Bumrah       156.00085
3  Mohammed Siraj       140.34751

In [ ]:
# Display the selected playing elevens
print("Playing Eleven AUS - Batsmen:")
print(playing_eleven_aus_batsmen[['Player', 'Batsmen_Rating']])

print("\nPlaying Eleven AUS - Bowlers:")
print(playing_eleven_aus_bowlers[['Player', 'Bowlers_Rating']])

Playing Eleven AUS - Batsmen:
           Player  Batsmen_Rating
2        AT Carey      300.769042
5      GJ Maxwell      289.004200
4       DA Warner      262.053946
13      SPD Smith      235.512218
8   M Labuschagne      202.395970
15        TM Head      177.041532

Playing Eleven AUS - Bowlers:
         Player  Bowlers_Rating
0       A Zampa       281.88203
5      MA Starc       243.66139
7    PJ Cummins       219.42683
4  JR Hazlewood       190.93793
3    GJ Maxwell       161.93022